body {
    font-family: 'PT Serif', serif;
    text-align: center;
    background-color: var(--darker-white);
    font-size: 3rem;
    font-weight: 700;
    color:#6b7459;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;

}

main {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    color: #6b7459;
    font-size: 4rem;
    font-weight: 700;
    line-height: 2;
    margin-bottom: 2rem;

}

p {
    color: #6b7459;
    line-height: 1.5;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    width: 700px;
    margin-bottom: 1.5rem;
}

.slider-container {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slider li {
    flex: 0 0 100%;
    list-style: none;
    position: relative;
}

.slider img {
    width: 700px;
    height: 400px;
    object-fit: cover;
}

.slider-controls {
    position: relative;
    top: 50%;
    transform: translateY(-350%);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 600px;
    
}

.slider-controls button {
    background-color: #6b7459;
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    width: 2rem;
    height: 4rem;
}

.prev {
    background-color: yellow;
    transform: rotate(1deg);
}

@media (max-width: 768px) {
    body {
        padding: 2rem 0;
        background-color: red;
    }

    h1 {
        font-size: 5.5rem;
    }

    p { 
        font-size: 1px;
    }

    .slider-controls {
        transform: translateY(-350%);
        justify-content: space-between;
        padding: 0 6rem;
    }

    .slider-controls button {
        font-size: 2px;
        width: 8rem;
        height: 5rem;
    }
}

