@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import url('./LogIn.css');

body {
    background-color: #FFFFFF;
    font-family: 'PT Serif', serif;
    color: #6b7459;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #f5f6f9;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 5rem 4rem;
}

h1 {
    font-size: 2.25rem;
    padding-bottom: 3rem;
    font-weight: 700;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
}

.form__item {

    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1.5rem;

    width: 100%;

}
.form__item label {

    padding: 0 0 0.3rem 0.3rem;
    display: flex;
    justify-content: flex-start;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 0.75rem;

}
.form__item input {

    color: var(--green);
    font-weight: 400; 
    border: 1px solid var(--white);
    border-radius: 10px;
    padding: 0.6rem;
    box-shadow: 1px 1px 6px #0000001c;
    outline: none;

}
.form__item input::placeholder {

    color: var(--green);
    font-family: var(--main-font);

}
.form__item input:hover {

    outline: 1px solid var(--green);

}
form input[type="submit"] {
    
    background-color: var(--green);
    color: var(--white);
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 1rem 0;
    
}
form input[type="submit"]:hover {

    background-color: var(--button-hover);
    letter-spacing: 0.5px;
    border-color: var(--green);

}

label {
    display: flex;
    justify-content: flex-start;
    padding: 0 0 0.5rem 0.3rem;
    font-size: 13px;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    align-self: flex-start;
}

input::placeholder {
    color: #6b7459;
    font-family: 'Source Sans Pro';
}

input:hover {
    outline: 1px solid #6b7459;
}


input {
    padding: 0.6rem 0 0.6rem 0.6rem;
    outline: none;
    box-shadow: 1px 1px 6px #0000001c;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    width: 100%;
    
    color: #6b7459;
}

form button[type="submit"] {
    background-color: #6b7459;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 3rem;
    
    padding: 1rem 2rem;
    outline: none;
    box-shadow: 1px 1px 6px #0000001c;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    
    max-width: 75%;
}

form button[type="submit"]:hover {
    background-color: #2e4a11;
    letter-spacing: 0.5px;
    border-color: #6b7459;
}

.logo {

    width: 70px;
    height: 70px;
 
}