@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

:root {

    --white: #FFFFFF;
    --green: #6b7459;
    --main-font: 'Source Sans Pro';
    --title--font: 'PT Serif', serif;
    --button-hover: #2e4a11;   /*  */
    --darker-white: #f5f6f9;

}
body {

    background-color: var(--white);
    font-family: var(--title--font);
    color: var(--green);
    font-size: 16px;
    font-weight: 400;
    min-width: 15.6rem;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
main {
    
    background-color: var(--darker-white);
    text-align: center;
    padding: 1.5rem 2rem;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
h1 {

    font-size: 1.75rem;
    padding: 2rem;
    font-size: 2.25rem;
    font-weight: 700;

}
form {
    
    width: 100%;
    
}
form div {

    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1.5rem;

}
.form__item label {

    padding: 0 0 0.3rem 0.3rem;
    display: flex;
    justify-content: flex-start;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 13px;

}
.form__item input {

    color: var(--green);
    font-weight: 400; 
    border: 1px solid var(--white);
    border-radius: 10px;
    padding: 0.6rem;
    box-shadow: 1px 1px 6px #0000001c;
    outline: none;

}
.form__item input::placeholder {

    color: var(--green);
    font-family: var(--main-font);

}
.form__item input:hover {

    outline: 1px solid var(--green);

}
form input[type="submit"] {
    
    background-color: var(--green);
    color: var(--white);
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 1rem 0;
    
}
form input[type="submit"]:hover {

    background-color: var(--button-hover);
    letter-spacing: 0.5px;
    border-color: var(--green);

}

.login__link {

    color: var(--green);
    text-decoration: none;
    font-size: 0.8rem;

}
.login__link:hover {

    color: var(--button-hover);
    
}


.logo {

    width: 70px;
    height: 70px;
 
}