<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cabeçalho</title>
    <link rel="stylesheet" href="/Frontend/src/components/header/desktop-style.css">
</head>

<body>
    <nav id="header">
        <ul>
            <li>
                <a href="/Frontend/src/pages/services">
                    Serviços
                </a>
            </li>
            <li>
                <a href="/Frontend/src/pages/mySchedulings">
                    Meus agendamentos
                </a>
            </li>
            <li>
                <a href="/Frontend/src/pages/about">
                    Sobre
                </a>
            </li>
            <li>
                <a id="logout" href="/Frontend/src/pages/login">
                    Sair
                </a>
            </li>
        </ul>
    </nav>
</body>

</html>

