@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');

#header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

}

#header ul {
    list-style: none;
    background-color: #6b7459;
    padding: 0 2.5rem;
}

#header ul li {
    display: inline-flex;
}

#header ul li a {
    color: #fff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    
    transition: all 0.2s ease;
}

#header ul li a:hover {
    background-color: #fff;
    color: #6b7459;
}


