@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,400;1,700&display=swap');

html {
    display: flex;
    justify-content: center;
}


body {
    background-color: var(--white);
    font-family: var(--main-font);
    color: var(--green);

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    padding: 2em;
    width: 100%;
    max-width: 500px;
}

main {
    background-color: var(--green);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2.5rem;
} 
label {
    padding-bottom: 2rem;
}
.search {
    color: var(--green);
    font-weight: 400; 
    
    border: 1px solid var(--white);
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    outline: none;
    padding: 0.8rem 5rem;
    width: 100%;
}

.search::placeholder {
    background-image: url('../../assets/imgs/search_icon.svg');
    background-repeat: no-repeat;

    color: var(--green);
    font-family: var(--main-font);
    font-size: 1.2rem;

    padding-left: 1.8rem;

}

.service-list {
    list-style: none;
    font-family: var(--main-font);
    text-align: left;
}

.list-item {
    background-color: white;

    border: 1px solid var(--white);
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    padding: 1.5rem;
    margin-bottom: 1.3rem;
}

.service-type {
    font-size: 1rem;
    color: var(--black);
}

.service-name {
    font-family: var(--title-font);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.2rem 9rem 3rem 0;
}

.service-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    text-transform: uppercase;
    font-size: 1.2rem;
}

.service-info-time {
    padding-left: 1.5rem;
    background-image: url('../../assets/imgs/timer.svg'); 
    background-repeat: no-repeat;
    background-size: 1.3rem;
}